 <!-- Footer Start -->
 <div class="container-fluid footer py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Get In Touch</h4>
                    <a href=""><i class="fas fa-home me-2"></i> Haji Abad Bemina, Srinagar, Jammu And Kashmir, India</a>
                    <a href=""><i class="fas fa-envelope me-2"></i> iiei.srinagargmail.com</a>
                    <a href=""><i class="fas fa-phone me-2"></i> 0194-2491226</a>
                    <a href="" class="mb-3"><i class="fas fa-print me-2"></i> +91 9541756867</a>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-share fa-2x text-white me-2"></i>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="https://x.com/BeminaIqra?prefetchTimestamp=1731142815747"><i class="fab fa-twitter"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="https://www.instagram.com/iqraedu_86/?__coig_restricted=1"><i class="fab fa-instagram"></i></a>
                        <a class="btn-square btn btn-primary rounded-circle mx-1" href="/"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Quick Links</h4>
                    <a href=""><i class="fas fa-angle-right me-2"></i> About</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Facilities</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Gallery</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Academics</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Downloads</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Admission</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Career With Us</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Alumni</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Support</h4>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Contact</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-item">
                 
                    <h4 class="text-white mb-3">Who We Are</h4>
                    <div class="footer-bank-card">
                        <p style="color: white;">“Iqra” the First Commandment from Allah to his beloved Messenger “Muhammad (SAW)” is an order from the Almighty “to read”; the name of the institution was unconsciously taken up as Iqra...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright Section Inside Footer -->
    <div class="container-fluid bg-dark text-body py-2" style="margin-top:0">
        <div class="row d-flex justify-content-between">
            <div class="col-md-12  d-flex justify-content-between">
                <span  class="text-white cp1">&copy; 2024 - Iqra Educational Institute, All rights reserved.</span>
                <span  class="text-white cp2">Designed By <a class="text-white" href="#">National IT Solutions</a></span>
            </div>
           
        </div>
    </div>
</div>